@charset "UTF-8";
/* CSS Document */

/*　枠線＋テキストが出現 　*/

.lineText{
	position: relative;/*テキストの基点となる位置を定義*/
}

/*線の設定*/
.lineText span.mask{
	position: relative;
	display: block;/*画像をくくるspanタグをブロック要素にする*/
    line-height: 0;/*行の高さを0にする*/
}

.lineText span.mask::before,
.lineText span.mask::after{
	position: absolute;
	top: 4%;
	right: 2.5%;
	bottom: 4%;
	left: 2.5%;
	z-index: 3;
	content: "";
	opacity: 0;
	transition: .3s ease-in-out;
}

.lineText span.mask::before {
    border-top: 1px solid #fff;/*枠線の色と太さを変更したい場合はこの数値を変更*/
    border-bottom: 1px solid #fff;/*枠線の色と太さを変更したい場合はこの数値を変更*/
    transform: scale(0,1);
}

.lineText span.mask::after{
    border-right: 1px solid #fff;/*枠線の色と太さを変更したい場合はこの数値を変更*/
    border-left: 1px solid #fff;/*枠線の色と太さを変更したい場合はこの数値を変更*/
    transform: scale(1,0);
}

.lineText:hover span.mask::before,
.lineText:hover span.mask::after{/*hoverした時の変化*/
	opacity: 1;
    transform: scale(1);
}

/*中央テキスト*/
.lineText span.cap{
	opacity:0;
	transition: .5s ease-in-out;/*移り変わる速さを変更したい場合はこの数値を変更*/
	position: absolute;
	z-index:3;/*テキストを前面に出す*/
	top: 50%;
    left: 50%;
	transform: translate(-50%,-50%);
	color: #2C2C2C;/*テキストの色を変えたい場合はここを修正*/
    line-height: 1.5;/*行の高さを1.5にする*/
}

.lineText:hover span.cap{/*hoverした時の変化*/
	opacity:1;
}


/*========= レイアウトのためのCSS ===============*/

a{
  color: #333;
  text-decoration: none;
}

.lead{
  text-align: center;
  padding: 50px 20px;
}

/*画像のレスポンシブ*/

img{
  width:100%;
  height: auto;
}

/* 横幅*/
.lineText{
  width: 70%;
    margin: 0 auto;/*中央揃え*/
}

body{
	background-color: gray
}