@charset "UTF-8";
/* CSS Document */

/*========= 上部固定させるためのCSS ===============*/
#header{
	height: 70px;/*高さ指定*/
	width: 100%;/*横幅指定*/
	/*以下はレイアウトのためのCSS*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	background:#000a55;
	color: #fff;
	text-align: center;
	padding: 20px;
}

#img{
	width: 100%;
	height: auto;
}

#box2{
	background-image: url("../gallery/hyousi/paint.gif");
	background-size: 100% 100%;
}

#box2 h2{
    text-align: center;
    position: relative;
    top: 40%;
    color: #FFFFFF;
    font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;
    font-size: 50px;
}

#box3{
	background-image: url("../gallery/hyousi/kollage.gif");
	background-size: 100% 100%;
}

#box3 h2{
    text-align: center;
    position: relative;
    top: 40%;
    color: #FFFFFF;
    font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;
    font-size: 50px;
}

#box4{
	background-image: url("../gallery/hyousi/graphic.gif");
	background-size: 100% 100%;
}

#box4 h2{
    text-align: center;
    position: relative;
    top: 40%;
    color: #FFFFFF;
    font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;
    font-size: 50px;
}

#box5{
	background-image: url("../gallery/hyousi/webpage.gif");
	background-size: 100% 100%;
}

#box5 h2{
    text-align: center;
    position: relative;
    top: 40%;
    color: #FFFFFF;
    font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;
    font-size: 50px;
}

#box6{
	background-image: url("../gallery/hyousi/naze.gif");
	background-size: 100% 100%;
}

#box6 h2{
    position: relative;
    color: #898989;
    font-size: 50px;
}

#box6 p{
    position: relative;
    color: #FFFFFF;
    font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;
    font-size: 30px;
}

#box7{
	background-image: url("../gallery/hyousi/ore.gif");
	background-size: 100% 100%;
}

#box7 h2{
	font-size: 50px;
	color: #364e96;/*文字色*/
	border: solid 3px #364e96;/*線色*/
	padding: 0.5em;/*文字周りの余白*/
	border-radius: 0.5em;/*角丸*/
	background-color: #FFFFFF;
}

#box7 p{
	position: relative;
	color: #FFFFFF;
	font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", serif;
	font-size: 30px;
	background-color: #EEB0B1;
}

#btntextchange{
	text-align: center;
	top: 50%;
	left: 50%;
}

#footer {
	text-align: center;
	background-color: #000a55;
	color: #FFFFFF;
	width: 100%;
	height: 30px;
	bottom: 0;
}